#~/.gitconfig
[user]
  name = Christian Fasnacht
  email = fasnacht@puzzle.ch
[alias]
  ci = commit
  st = status
  df = diff
  dfw = diff --word-diff=color
  dfc = diff --cached
  dfcw = diff --cached --word-diff=color
  # git log pretty
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # git log pretty full hash
  lgh = log --color --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # git log pretty + iso date format
  lgd = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  # list file that were modified in a commit
  filesmodif = diff-tree --no-commit-id --name-only -r
  # clean up history, remove unused, old objects...
  mycleanup = git -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc "$@"
[color]
  #git colors in shell
  ui = true
[core]
  editor = vim
  autocrlf = input
[push]
  default = simple
[diff]
  tool = diff
[credential]
  # cache login for 100 min
  helper = cache --timeout=6000

#[credential "https://git.example.com"]
#  username = myuser
